.header {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white;
  width: 100%;

  .logo {
    margin-bottom: 0;
  }

  ul.navList {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
